<div class="recipe-page">
<div id="text-center">
  <div id="recipe-header">
    <h2>Recipes:</h2>
  </div>
  <div class="recipe-dropdown">
    <select onChange="window.location.href=this.value">
      <option class='recipe_dropdown_text' value="" disabled selected>choose recipe</option>
      <% @recipes.each do |recipe| %>
        <option value="/recipes/<%=recipe.id%>"><%=recipe.name%></option>
      <% end %>
    </select>
  </div>
<br>
<br>
  <h3 class="recipe-h3"><%=@recipe.name%></h3>
<div class='recipe-container'>
  <p>
    <div class="times">
      <%=@recipe.preparation_time%><br><label>preparation time</label>
      <%=@recipe.cooking_time%>
      <%=@recipe.total_time%>
    </div>


    <%=@recipe.serving_size%>
    <%=@recipe.instructions%>
  </p>
</div>

</div>

</div>
