<div class="recipe-page container">
  <div id="text-center">
    <div id="recipe-header">
      <h2>Recipes:</h2>
    </div>
    <div class="recipe-dropdown">
      <select onChange="window.location.href=this.value">
        <option class='recipe_dropdown_text' value="" disabled selected>choose recipe</option>
        <% @recipes.each do |recipe| %>
          <option value="/recipes/<%=recipe.id%>/"><%=recipe.name%></option>
        <% end %>
      </select>
    </div>
    <br>
    <br>
    <h3 class="recipe-h3"><%=@recipe.name%></h3>
    <div class="row">
      <div class="col-xs-1">
        <%=@recipe.serving_size%>
      </div>
      <div class="col-xs-1 col-xs-offset-8">
        <%=@recipe.preparation_time%>
      </div>
      <div class="col-xs-1">
        <%=@recipe.cooking_time%>
      </div>
      <div class="col-xs-1">
        <%=@recipe.total_time%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1">
        serving
      </div>
      <div class="col-xs-1 col-xs-offset-8">
        mins
      </div>
      <div class="col-xs-1">
        mins
      </div>
      <div class="col-xs-1">
        mins
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1">
        size
      </div>
      <div class="col-xs-1 col-xs-offset-8">
        prep
      </div>
      <div class="col-xs-1">
        cook
      </div>
      <div class="col-xs-1">
        total
      </div>
    </div>
    <br>
    <div class="row">


    </div>
    <div class="row">
      <div class="ingredients-container">
          <%=@recipe.instructions%>
      </div>
    </div>
  </div>
  <br>
  <a class="a-back" href="/">back</a>
</div>
